* {
  margin: 0px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 40%;
  background-color: #2d728f;
}
.right {
  right: 0;
  width: 60%;
  background-color: #ab3428;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered h6 {
  color: #f5ee9e;
}
.centered h4 {
  color: #ab3428;
}
